body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font: 60px var(--sans-serif);
    color: var(--black);
}

p {
    font: 20px var(--sans-serif);
    color: var(--black);
    margin-top: 20px;
}
