@import url('https://fonts.googleapis.com/css2?family=Comforter&family=El+Messiri:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --header-font: 'El Messiri', sans-serif;
    --art-font: 'Comforter', cursive;

    --light-gray: #f2f2f2;
    --light-purple: #d1c6db;
    --light-green-blue: #bfdbd7;

    --white: #fff;
    --gray: #8280a8;
    --purple: #a684bd;
    --green-blue: #84baa7;

    --dark-gray: #211428;
    --dark-green-blue: ;

}

.chat {
    display: flex;
    justify-content: space-between;
}

#menu-block {
    width: 20%;
    height: 100vh;
    background: var(--light-gray);
}

#menu-block > div {
    height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#menu-block > div p {
    font: 12px var(--main-font);
    color: var(--gray);
}

#menu-block .menu-header {
    width: 100%;
    height: calc(7% + 30px);
    min-height: 40px;
    padding: 0 20px;
    background: var(--light-purple);
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu-block .menu-header p {
    font: bold 30px var(--header-font);
    color: var(--white);
    margin-left: 20px;
}

#menu-block .menu-header span {
    width: 30px;
    height: 3px;
    background: var(--white);
    position: relative;
}

#menu-block .menu-header span::before {
    content: "";
    width: 30px;
    height: 3px;
    background: var(--white);
    position: absolute;
    top: -7px;
    left: 0;
}

#menu-block .menu-header span::after {
    content: "";
    width: 30px;
    height: 3px;
    background: var(--white);
    position: absolute;
    top: 7px;
    left: 0;
}

#message-block {
    width: 50%;
    height: 100vh;
    padding: 30px;
    background: url(../img/background.png) center / cover no-repeat fixed;
    position: relative;
    z-index: 0;
}

#message-block::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#message-block .search-bar {
    height: 7%;
    min-height: 40px;
}

#message-block .search-bar form {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#message-block .search-bar form input {
    width: 90%;
    height: 100%;
    padding-left: 10px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    font: 18px var(--main-font);
    color: var(--dark-gray);
}

#message-block .search-bar form input::placeholder {
    font: italic 14px var(--main-font);
    color: var(--gray);
}

#message-block .search-bar form button {
    width: 8%;
    height: 100%;
    background: var(--light-green-blue);
    border-radius: 20px;
    border: 2px solid var(--green-blue);
    color: var(--dark-gray);
}

#message-block .form-area {
    height: 25%;
}

#message-block .form-area form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#message-block .form-area textarea {
    width: 100%;
    height: 70%;
    min-height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    font: 18px var(--main-font);
    color: var(--dark-gray);
    resize: none;
}

#message-block .form-area textarea::placeholder {
    font: italic 14px var(--main-font);
    color: var(--gray);
}

#message-block .form-area button {
    width: 20%;
    height: 40px;
    margin-top: 3%;
    border-radius: 20px;
    background: var(--light-green-blue);
    border: 2px solid var(--green-blue);
    color: var(--dark-gray);
    font: bold 18px var(--header-font);
    text-shadow: 0 3px 1px rgba(0, 0, 0, .3);
}

#message-block .messages::-webkit-scrollbar,
#dialog-block .dialog-area::-webkit-scrollbar {
    width: 0;
}

#message-block .messages::-webkit-scrollbar-track,
#dialog-block .dialog-area::-webkit-scrollbar-track {
    background: var(--light-gray);
}

#message-block .messages::-webkit-scrollbar-thumb,
#dialog-block .dialog-area::-webkit-scrollbar-thumb {
    background: var(--gray);
}

#message-block .messages {
    width: 100%;
    height: 68%;
    padding: 20px 10px;
    overflow-y: scroll;
}

#message-block .messages .wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
}

#message-block .messages .wrapper.left {
    justify-content: flex-start;
}

#message-block .messages .wrapper.right {
    justify-content: flex-end;
}

#message-block .messages .message {
    width: 80%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    background: var(--light-purple);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font: 14px var(--main-font);
    color: var(--dark-gray);
}

#message-block .messages .wrapper.left .message {
    border: 2px solid var(--purple);
    background: var(--light-purple);
    border-bottom-left-radius: 0;
}

#message-block .messages .wrapper.right .message {
    border: 2px solid var(--green-blue);
    background: var(--light-green-blue);
    border-bottom-right-radius: 0;
}

#message-block .messages .message .date {
    font: 12px var(--main-font);
    color: var(--gray);
    display: block;
    margin-top: 20px;
}

#dialog-block {
    width: 30%;
    height: 100vh;
    padding: 30px 30px;
    background: var(--light-purple);
}

#dialog-block .search-bar {
    height: 7%;
    min-height: 40px;
}

#dialog-block .search-bar form {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#dialog-block .search-bar form input {
    width: 85%;
    height: 100%;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid var(--purple);
    font: 18px var(--main-font);
    color: var(--dark-gray);
}

#dialog-block .search-bar form input::placeholder {
    font: italic 14px var(--main-font);
    color: var(--gray);
}

#dialog-block .search-bar form button {
    width: 15%;
    height: 100%;
    background: var(--light-green-blue);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid var(--green-blue);
    color: var(--dark-gray);
}

#dialog-block .dialog-area {
    height: 93%;
    padding: 30px 10px 0 0;
    overflow-y: scroll;
}

#dialog-block .dialog {
    width: 99%;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
    background: var(--light-gray);
    border: 2px solid var(--gray);
    box-shadow: 7px 7px 0 var(--gray);
    display: flex;
    position: relative;
}

#dialog-block .dialog::after {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
}

#dialog-block .dialog .photo {
    width: 70px;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #000;
}

#dialog-block .dialog .dialog-descryption {
    width: calc(100% - 70px);
    height: 100%;
    padding-left: 15px;
}

#dialog-block .dialog .dialog-descryption p:first-child {
    height: 50%;
    font: 20px var(--header-font);
    color: var(--dark-gray);
}

#dialog-block .dialog .dialog-descryption p {
    height: 50%;
    font: 13px var(--main-font);
    color: var(--dark-gray);
    overflow: hidden;
    position: relative;
}

#dialog-block .dialog .dialog-descryption p:nth-child(2)::after {
    content: "";
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg, transparent 0, var(--light-gray) 100%);
    position: absolute;
    bottom: 3px;
    left: 0;
}
