<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход Group of Groups</title>
    <link rel="shortcut icon" th:href="@{/resources/img/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>

<body>
    <div th:replace="~{template.html::header}"></div>
    <section class="section d-flex justify-content-center">
        <div class="col-4 card login-card">
            <h2 th:text="#{login.sign-in.header}"></h2>
            <div class="row justify-content-center">
                <form th:action="@{/login}" method="post" class="col-9">
                    <input class="form-control" type="text" name="username" placeholder="Email">
                    <input class="form-control" type="password" name="password" th:placeholder="#{login.placeholder.password}">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-auth btn-login" type="submit" th:text="#{login.sign-in.button}"></button>
                        <a th:href="@{/registration}" class="btn btn-auth btn-registration" th:text="#{login.sign-up.button}"></a>
                    </div>
                </form>
                <a th:href="@{/registration}" class="col-9 hint" th:text="#{login.hint}"></a>
            </div>
        </div>
    </section>
    <div th:replace="~{template.html::footer}"></div>
</body>

</html>
