<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group of Groups</title>
    <link rel="shortcut icon" th:href="@{/resources/img/logo/logo_sm.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/resources/css/reset.css}">
    <link rel="stylesheet" th:href="@{/resources/css/root.css}">
    <th:block sec:authorize="isAuthenticated()">
        <th:block th:if="${design}=='light'">
            <link rel="stylesheet" th:href="@{/resources/css/root_dark.css}">
        </th:block>
    </th:block>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" th:href="@{/resources/css/index.css}">
    <link rel="stylesheet" th:href="@{/resources/css/news.css}">
</head>

<body>
    <section id="first-screen">
        <div id="logo-block" class="block">
            <div class="logo">
                <div class="logo-text">
                    <img th:src="@{/resources/img/logo/logo_md.png}" alt="" class="logo-img">
                    <h1>Group<br>of<br>Groups</h1>
                </div>
            </div>
            <form action="">
                <input type="text" th:placeholder="#{header.search}">
                <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></button>
            </form>
            <div class="menu-bottom">
                <ul>
                    <li><a th:href="@{/}" th:text="#{header.main-page}"></a></li>
                    <li><a th:href="@{/}" th:text="#{header.analytics}"></a></li>
                    <li><a th:href="@{/chat}" th:text="#{header.chat}"></a></li>
                </ul>
            </div>
        </div>
        <div id="content-block" class="block">
            <div class="menu-top">
                <ul>
                    <li><a th:href="@{/}" th:text="#{header.news}"></a></li>
                    <li><a th:href="@{/users}" th:text="#{header.user}"></a></li>
                </ul>
                <div class="horizontal-buttons">
                    <th:block sec:authorize="isAuthenticated()">
                        <a th:href="@{'/profile/'+${#authentication.name}}" th:text="#{header.profile}"></a>
                        <a th:href="@{/logout}" th:text="#{header.log-out}"></a>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}" th:text="#{header.sign-in}"></a>
                        <a th:href="@{/registration}" th:text="#{header.sign-up}"></a>
                    </th:block>
                </div>
            </div>
            <div class="text">
                <p th:text="#{index.first-screen.text-1}"></p>
                <p class="social-networks">
                    <img th:src="@{/resources/img/icons/icon-tg.png}" height="70" alt="">
                    <img th:src="@{/resources/img/icons/icon-fb.png}" height="90" alt="">
                    <img th:src="@{/resources/img/icons/icon-vk.png}" width="100" alt="">
                </p>
                <p th:text="#{index.first-screen.text-2}"></p>
            </div>
            <p th:text="#{index.first-screen.text-3}"></p>
        </div>
    </section>

    <section id="news">
        <div class="form-block" sec:authorize="isAuthenticated()">
            <h2>Предложить новость</h2>
            <form th:action="@{/news/offer}" method="post" th:object="${newNew}">
                <input type="text" name="header" placeholder="Заголовок">
                <input type="text" name="topic" placeholder="Тема">
                <textarea name="text" id="" placeholder="Текст ..."></textarea>
                <button>Отправить</button>
            </form>
        </div>
        <div class="news-block">
           <h2>Новостная лента</h2>
            <th:block th:if="${news}">
                <th:block th:each="oneNew:${news}">
                    <div class="one-new">
                        <h3 th:text="${oneNew.getHeader()}"></h3>
                        <p class="topic" th:text="'Тема: '+${oneNew.getTopic()}"></p>
                        <p class="new-text" th:text="${oneNew.text}"></p>
                        <div class="author">
                            <a th:href="@{'/profile/'+${oneNew.author.email}}" th:text="${oneNew.author.profile.surname}+' '+${oneNew.author.profile.name}"></a>
                            <span th:text="${oneNew.date}"></span>
                        </div>
                    </div>
                </th:block>
            </th:block>
            <th:block th:unless="${news}">
                <p class="empty-message">Новостей пока нет</p>
            </th:block>
        </div>
    </section>

    <div th:replace="~{template.html::footer}"></div>
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/parallax.js}"></script>
</body>

</html>
