<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя страница Group of Groups</title>
    <link rel="shortcut icon" th:href="@{/resources/img/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>

<body>
    <div th:replace="~{template.html::header}"></div>
    <section class="section section-less-margin d-flex justify-content-center">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-3">
                    <aside class="card profile-aside">
                        <h2>Навигация</h2>
                        <ul class="navigation">
                            <li><a href="">Моя страница</a></li>
                            <li><a href="">Сообщения</a></li>
                            <li><a href="">Группы</a></li>
                            <li><a href="">Выйти</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-9">
                    <div class="card profile-card">
                        <div class="row">
                            <div class="col-4">
                                <div class="photo d-flex flex-column align-items-center">
                                    <div></div>
                                    <ul class="edit-menu">
                                        <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                                                    <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                                                    <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                                </svg>редактировать фото</a></li>
                                        <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>редактировать профиль</a></li>
                                    </ul>
                                </div>
                                <ul class="groups">Мои группы
                                    <th:block>
                                        <li><a href="">Группа</a></li>
                                    </th:block>
                                </ul>
                            </div>
                            <div class="col-8">
                                <h2>Снопок Лика</h2>
                                <p>Rintarou-san@yandex.by</p>
                                <table class="characters">
                                    <tr class="block-header">
                                        <td colspan="2" class="block-character-header">Основная информация</td>
                                    </tr>
                                    <tr>
                                        <td>Дата рождения</td>
                                        <td>10.02.2002</td>
                                    </tr>
                                    <tr>
                                        <td>Номер телефона</td>
                                        <td>8 033 361 95 93</td>
                                    </tr>
                                    <tr>
                                        <td>Родной город</td>
                                        <td>Верхнедвинск</td>
                                    </tr>
                                    <tr class="block-header">
                                        <td colspan="2" class="block-character-header">Образование</td>
                                    </tr>
                                    <tr>
                                        <td>Ступень</td>
                                        <td>Неоконченное высшее</td>
                                    </tr>
                                    <tr>
                                        <td>Учебное заведение</td>
                                        <td>БГУИР (МРТИ)</td>
                                    </tr>
                                    <tr>
                                        <td>Год окончания</td>
                                        <td>2023</td>
                                    </tr>
                                    <tr>
                                        <td>Языки</td>
                                        <td>
                                            <ul class="tags">
                                                <th:block>
                                                    <li><a href="/">Русский</a></li>
                                                </th:block>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="block-header">
                                        <td colspan="2" class="block-character-header">О себе</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Кстати, сторонники тоталитаризма в науке, инициированные исключительно синтетически, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Приятно, граждане, наблюдать, как многие известные личности, инициированные исключительно синтетически, в равной степени предоставлены сами себе. Внезапно, предприниматели в сети интернет являются только методом политического участия и разоблачены. Но начало повседневной работы по формированию позиции, в своём классическом представлении, допускает внедрение существующих финансовых и административных условий.</td>
                                    </tr>
                                    <tr class="block-header">
                                        <td colspan="2" class="block-character-header">Интересы</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <ul class="tags">
                                                <th:block>
                                                    <li><a href="">Книги</a></li>
                                                </th:block>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{template.html::footer}"></div>
</body>

</html>
