<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход Group of Groups</title>
    <link rel="shortcut icon" th:href="@{/resources/img/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>

<body>
    <div th:replace="~{template.html::header}"></div>
    <section class="section section-less-margin d-flex justify-content-center">
        <div class="col-4 card login-card registration-card">
            <h2>Регистрация</h2>
            <div class="row justify-content-center">
                <form th:action="@{/registration}" method="post" class="col-12">
                    <input class="form-control" type="text" name="surname" placeholder="Фамилия" pattern="[A-Za-zА-Яа-я\s]{1,50}">
                    <input class="form-control" type="text" name="name" placeholder="Имя" pattern="[A-Za-zА-Яа-я\s]{1,50}">
                    <input class="form-control" type="text" name="phone" placeholder="Номер телефона 90999999999" pattern="[0-9]{11}">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                    <input class="form-control" type="password" name="password" id="password" placeholder="Пароль" pattern="[^\s]{6,20}">
                    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Подтвердите пароль">
                    <p class="hint" id="message">Введенные пароли должны совпадать</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-auth btn-registration" type="submit" id="btn-registration" disabled>Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:replace="~{template.html::footer}"></div>
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/registration.js}"></script>
</body>

</html>
