<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход Group of Groups</title>
    <link rel="shortcut icon" th:href="@{/resources/img/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{resources/css/reset.css}">
    <link rel="stylesheet" th:href="@{resources/css/root.css}">
    <link rel="stylesheet" th:href="@{resources/css/common.css}">
    <link rel="stylesheet" th:href="@{resources/css/login.css}">
</head>

<body>
    <div id="login-container">
        <div th:replace="~{template.html::#header}"></div>
        <section>
            <div class="search-bar">
                <form action="">
                    <input type="text" th:placeholder="#{header.search}">
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></button>
                </form>
            </div>
            <div class="login-form">
                <h2 th:text="#{registration.header}"></h2>
                <form action="">
                    <div class="fio">
                        <input type="text" th:placeholder="#{registration.placeholder.surname}">
                        <input type="text" th:placeholder="#{registration.placeholder.name}">
                    </div>
                    <input type="e-mail" placeholder="E-mail">
                    <input type="tel" th:placeholder="#{registration.placeholder.phone}">
                    <br><br>
                    <input type="password" th:placeholder="#{registration.placeholder.password}">
                    <input type="password" th:placeholder="#{registration.placeholder.repeat-password}">
                    <a href="" class="hint" th:text="#{registration.hint}"></a>
                    <button th:text="#{registration.sign-up.button}"></button>
                </form>
            </div>
        </section>
    </div>
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/registration.js}"></script>
</body>

</html>
