<header id="header" th:fragment="header">
    <nav>
        <ul class="navigation">
            <li><a th:href="@{/}" th:text="#{header.main-page}"></a></li>
            <li><a th:href="@{/}" th:text="#{header.analytics}"></a></li>
            <li><a th:href="@{/}" th:text="#{header.chat}"></a></li>
            <li><a th:href="@{/login}" th:text="#{header.sign-in}"></a></li>
            <li>
                <form action="">
                    <div class="group">
                        <input type="text" th:placeholder="#{header.search}">
                        <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</header>

<header class="header admin-header" th:fragment="admin-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="admin-menu">
                    <li>
                        <a th:href="@{/}"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                </svg></span></a>
                        <a th:href="@{/}" th:text="#{header.admin.main-page}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<footer id="footer" th:fragment="footer">
    <div class="container">
        <div class="links">
            <ul class="footer-ref">
                <li><a th:href="@{/}" th:text="#{footer.main-page}"></a></li>
                <li><a th:href="@{/}" th:text="#{footer.analytics}">Аналитика</a></li>
                <li><a th:href="@{/}" th:text="#{footer.chat}">Онлайн-чат</a></li>
            </ul>
            <ul class="language-ref">
                <li><a th:href="@{/?lang=ru}">Русский</a></li>
                <li><a th:href="@{/?lang=en}">English</a></li>
                <li><a th:href="@{/?lang=de}">Deutsch</a></li>
            </ul>
        </div>
        <p>Copyright 2022 © Group of Groups</p>
    </div>
</footer>
