<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход Group of Groups</title>
    <link rel="shortcut icon" th:href="@{/resources/img/logo.png}" type="image/png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 d-flex align-items-center">
                    <img th:src="@{/resources/img/logo_sm.png}" class="logo" alt="">
                    <h1>Group of Groups</h1>
                </div>
                <div class="col-4 offset-2">
                    <form th:action="@{/search}" method="get">
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" name="search" placeholder="Поиск...">
                            <button class="btn btn-search" type="button" id="button-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="section section-registration d-flex justify-content-center">
        <div class="col-4 login-card registration-card">
            <h2>Регистрация</h2>
            <div class="row justify-content-center">
                <form th:action="@{/login}" method="post" class="col-9">
                   <input class="form-control" type="text" name="surname" placeholder="Фамилия">
                   <input class="form-control" type="text" name="name" placeholder="Имя">
                   <input class="form-control" type="text" name="phone" placeholder="Номер телефона">
                    <input class="form-control" type="text" name="email" placeholder="Email">
                    <input class="form-control" type="password" name="password" placeholder="Пароль" pattern="[^\s]{6,20}">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-auth btn-registration" type="submit" id="btn-registration">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8">Copyright © 2022 Rintarou-san@yandex.by</div>
                <div class="col-4">
                    <ul class="ref">
                        <li><a th:href="@{/}">О нас</a></li>
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/}">Поддержка</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
