<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход Group of Groups</title>
    <link rel="shortcut icon" th:href="@{/resources/img/logo.png}" type="image/png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>

<body>
    <header class="header admin-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="admin-menu">
                        <li><a href="/"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                    </svg></span>На главную</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="section section-less-margin admin-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Пользователи</h1>
                    <table class="table table-hover table-striped admin-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Фамилия Имя</th>
                                <th scope="col">Email</th>
                                <th scope="col">Дата регистрации</th>
                                <th scope="col">Дата последнего логина</th>
                                <th scope="col">Роль</th>
                                <th scope="col">Блокировка</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8">Copyright © 2022 Rintarou-san@yandex.by</div>
                <div class="col-4">
                    <ul class="ref">
                        <li><a th:href="@{/}">О нас</a></li>
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/}">Поддержка</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/registration.js}"></script>
</body>

</html>
